.contentWrapper {
    display: flex;
}

.left {
    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content : center;
    background-color: var(--bg90);
}

.right {
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content : center;
    background-color: var(--bg70);
}

.title {
    font-size : 2.5rem;
    font-weight: 700;
    color: #ffffff
}

.titleBlue {
    font-size : 2.5rem;
    font-weight: 700;
    color: #0077C7;
}

