@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  outline: none;
  box-sizing: border-box;
  transition: background-color 0.23s ease-in-out 0s;
}

html {
  background-color: var(--bg70) !important;
}


body {
  /*
    // Legacy styles 
    min-height: 100vh;
    max-width: 360px;
    margin: 0 auto;
  */
  background-color: #121312;

  --backgroundDefault: #121312;

  --spaceMedium: 32px;
  --spaceBase: 24px;
  --spaceSmall: 16px;



  /* iamPocket Design System */
  --bg100: #000000;
  --bg90: #0E1113;
  --bg80: #1C2226;
  --bg70: #2B323A;
  --bg60: #39434D;
  --bg50: #475460;
  --bg40: #6C7680;
  --bg30: #9198A0;
  --bg20: #B5BBBF;
  --bg10: #DADDDF;
  --bg0: #FFFFFF;
  --systemRed: #FF0D38;
  --systemOrange: #FE9B07;
  --systemGreen: #06C755;
  --systemBlue: #2580E5;
  --brandBlue90: #041130;
  --brandBlue80: #082260;
  --brandBlue70: #0D3290;
  --brandBlue60: #1143C0;
  --brandBlue50: #1554F0;
  --brandBlue40: #4476F3;
  --brandBlue30: #7398F6;
  --brandBlue20: #A1BBF9;
  --brandBlue10: #A1BBF9;
  --transparent: "transparent";
}

input {
  all: initial;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: #2B323A; 
  border-radius: 25px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
